<div class="fullscreen-container">
    <div #draggableBox id="draggable-box" class="center-box text-white draggable-box">
        <div id="drag-header" class="drag-header">
            <h4 class="text-uppercase text-center">Who Am I?</h4>
            <p>
                I'm a 24-year-old portuguese developer exploring the world of software and game development.
                <br/>
                I have graduated from Instituto Politécnico de Tomar where I got my Computer Science Bachelor.
            </p>

            <h4 class="text-uppercase text-center">Skills</h4>
            <h6 class="text-uppercase">Programming Languages & Frameworks</h6>
            <ul>
                <li>C, C#, Python, Java, Kotlin</li>
                <li>HTML, CSS, JavaScript, PHP</li>
                <li>Bash, Lua, VBA</li>
                <li>React(+N), Bootstrap, ASP.NET MVC</li>
            </ul>

            <h6 class="text-uppercase">Database</h6>
            <ul>
                <li>MySQL, SQLServer, SQLite</li>
            </ul>

            <h6 class="text-uppercase">Software</h6>
            <ul>
                <li>Android Studio & MIT App Inventor</li>
                <li>PowerApps & BI Dashboards</li>
                <li>Wireshark, Nmap</li>
                <li>Unity, Godot, Aseprite, Blender</li>
            </ul>

            <h6 class="text-uppercase">Brainware</h6>
            <ul>
                <li>Software Engineering</li>
                <li>Database Management</li>
                <li>Cybersecurity</li>
                <li>Game Development</li>
            </ul>

            <h4 class="text-uppercase text-center">Contact</h4>
            <p>
                Discord: poupado<br>
                Gmail: rubendavidpoupado&#64;gmail.com<br>
                <a href="https://github.com/rubenpoupado" class="text-info">GitHub</a> & 
                <a href="https://www.linkedin.com/in/rubenpoupado/" class="text-info">LinkedIn</a>
            </p>
        </div>
    </div>
</div>