<nav class="navbar navbar-expand-lg fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/">rubenpoupado</a>
      <button class="navbar-toggler bg-black" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" routerLink="/">Home</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Writing
            </a>
            <ul class="dropdown-menu bg-black border border-white">
              <li><a class="dropdown-item" routerLink="/poetry" aria-disabled="true">Poetry</a></li>
              <li><a class="dropdown-item text-secondary disabled" aria-disabled="true">Stories</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Projects
            </a>
            <ul class="dropdown-menu bg-black border border-white">
              <li><a class="dropdown-item" routerLink="/games" aria-disabled="true">Games</a></li>
              <li><a class="dropdown-item text-secondary disabled" aria-disabled="true">Others</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/about">About Me</a>
          </li>
        </ul>
      </div>
    </div>
</nav>